.nav {
    /* grid-area: n; */
    flex: 1;
    background-color: rgb(21, 109, 119);
  }
  .item a{
      color: rgb(255, 255, 255);
      font-size: 25px;
      text-decoration: none;
  }

   .activeLink{
      color: gold;
  }