.content {
    background-color: rgb(255, 0, 251);
    flex: 4;
    padding: 10px;

  }
  .S {
    width: 100%;
   /* width: 700px; */
   height: 300px;
  }
  .p {
      border-radius: 10%;
      
  }
  .item img {
    width:60px;
  }

  .postsBlock{
    padding: 10px;
  }

  .posts{
    margin-top: 10px;
  }