.dialogs{
    flex: 3;
    background-color: rgb(144, 146, 168);
    display: flex;
}

.dialogsItems{
    padding: 10px;
    
}
.dialogsItems .active{
color: gold;
}

.messages{
padding: 10px;
margin-left: 30px;
}
.message{

}